.select-drop {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 200px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #111111;
  font-size: 1em;
  line-height: 1.4em;
  transition: background-color 0.2s ease 0s;
    -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
}

.select-drop:before, .select-drop:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #6c2c2c transparent;
  pointer-events: none;
}

.select-drop:before {
  border-bottom-style: solid;
  border-top: none;
}

.select-drop:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}
.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown-select {
  z-index: 1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

.dropdown-dark {
  background: rgba(0, 0, 0, 0.07);
  border-color: #111111 #0a0a0a black;
 
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-dark:before {
  border-bottom-color: #6c2c2c;
}

.dropdown-dark:after {
  border-top-color: #6c2c2c;
}

.dropdown-dark .dropdown-select {
  color: black;
  text-shadow: 0 .25px black;
  background: #F0F0F0;  /* Fallback for IE 8 */
   vertical-align:middle;
}

.dropdown-dark .dropdown-select:focus {
  color: black;
}

.dropdown-dark .dropdown-select > option {
  background: #F0F0F0;
  text-shadow: 0 .5px rgba(0, 0, 0, 0.4);
}